* {
    font-family: Arial;
    font-size: 24px;
    text-align: center;
}

a {
    font-size: 12px;
}

.actor, .season, .storytitle1, .storytitle2 {
    width: 55%;
    margin: auto;
}

.actor {
    background-image: linear-gradient(to right, #8e0e00, #1f1c18);
    color: white;
}

.season {
    background-image: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
    color: white;
}

.storytitle1 {
    background-image: linear-gradient(to right, #757f9a, #d7dde8);
}

.storytitle2 {
    background-image: linear-gradient(to right, #d7dde8, #757f9a);
}

.doctorpic, .doctorpiclong, .doctorpicwide {
    margin-top: 25px;
    margin-bottom: 20px;
}

.doctorpic {
    width: 200px;
    height: 200px;
}

.doctorpiclong {
    width: 200px;
    height: 300px;
}

.doctorpicwide {
    width: 300px;
    height: 200px;
}

button {
    margin-top: 10px;
    font-size: 18px;
}

.