* {
    font-family: Arial;
    font-size: 24px;
    text-align: center;
}

a, span {
    font-size: 12px;
    color: black;
}

.actor, .season, .storytitle1, .storytitle2 {
    width: 500px;
    margin: auto;
}

.actor {
    background-image: linear-gradient(to right, #8e0e00, #1f1c18);
    color: white;
}

.season {
    background-image: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
    color: white;
}

.storytitle1 {
    background-image: linear-gradient(to right, #757f9a, #d7dde8);
}

.storytitle2 {
    background-image: linear-gradient(to right, #d7dde8, #757f9a);
}

.doctorpic, .doctorpiclong, .doctorpicwide {
    margin-top: 20px;
    margin-bottom: 15px;
}

.logo {
    margin-bottom: 15px;
}

.doctorpic {
    width: 200px;
    height: 200px;
}

.doctorpiclong {
    width: 200px;
    height: 300px;
}

.doctorpicwide, .logo {
    width: 300px;
    height: 200px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.links {
    background-image: linear-gradient(to right, #fbd3e9, #bb377d);
    width: 750px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}