* {
    font-family: Arial;
    font-size: 24px;
    text-align: center;
}

body {
    background-image: url("pictures/background.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.links a, span {
    font-size: 12px;
    color: black;
}

.actor, .season, section[class="stories"] div, .links, .buttons {
    width: 500px;
    max-width: 94vw;
    margin: auto;
}

.actor {
    font-size: 1.75rem;
    border-radius: 10px;
}

.season, section[class="stories"] div {
    margin-bottom: 5px;
    border-radius: 10px;
}

.actor {
    background-image: linear-gradient(to right, #8e0e00, #1f1c18);
    color: white;
}

.season {
    background-image: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
    color: white;
}

section[class="stories"] div:nth-of-type(odd) {
    background-image: linear-gradient(to right, #757f9a, #d7dde8);
}

section[class="stories"] div:nth-of-type(even) {
    background-image: linear-gradient(to right, #d7dde8, #757f9a);
}

.doctorpic, .doctorpiclong, .doctorpicwide {
    margin-top: 20px;
    margin-bottom: 15px;
}

.logo {
    margin-bottom: 15px;
}

.doctorpic {
    width: 200px;
    height: 200px;
}

.doctorpiclong {
    width: 200px;
    height: 300px;
}

.doctorpicwide, .logo {
    width: 300px;
    height: 200px;
}

.buttons {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.single {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.buttons a:link, .buttons a:visited {
    background-image: linear-gradient(to right, #ff8008, #ffc837);
    color: black;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    width: 55px;
    font-size: 0.6rem;
}

.buttons a:hover, .buttons a:active {
    cursor: pointer;
    background-image: linear-gradient(to left, #ff8008, #ffc837);
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.links a {
    width: 130px;
    background-image: linear-gradient(to right, #fbd3e9, #bb377d);
    text-decoration: none;
    border-radius: 10px;
}

